*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e0e1dd;
    color: #e0e1dd;
}

header.portal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0d1423;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .logo img {
    height: 60px;
}

header .buscador input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 300px;
    font-size: 16px;
}

.Elije, .campeon {
    text-align: center;
    margin: 20px 0;
    font-style: italic;
}

.Elije p {
    font-size: 28px;
    color: #0d1b2a;
}

.campeon h1 {
    font-size: 50px;
    color: #0d1b2a;
}

.contenido {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

article {
    background-color: #1d3557;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 250px;
    text-align: center;
}

article:hover {
    transform: scale(1.05);
}

.img-container img {
    width: 100%;
    height: auto;
}

.name h2 {
    font-size: 20px;
    margin: 10px 0;
}

.title h5 {
    font-size: 16px;
    margin: 5px 0;
    color: #f1faee;
}

.rol p, .description p {
    font-size: 16px;
    margin: 10px 15px;
    color: #f1faee;
}

.description p {
    text-align: left;
    color: #a8dadc;
}




